<!DOCTYPE html>
<html>
<head>
<title>Signup Page</title>
</head>
<body>
	<h2>Signup</h2>
	<form action="createUser" method="post">
		<label for="fullname">Full Name:</label> <input type="text"
			id="fullname" name="empName" required><br>
		<br> <label for="email">Network Id:</label> <input type="email"
			id="email" name="empNetworkId" required><br>
		<br> <label for="password">Password:</label> <input
			type="password" id="password" name="password" required><br>
		<br> <label for="designation">Designation:</label> <input
			type="text" id="designation" name="designation" required><br>
		<br> <label for="roles">Role:</label> <select name="role"
			id="roles">
			<option value="EMPLOYEE">EMPLOYEE</option>
			<option value="HR">HR</option>
			<option value="ADMIN" selected>ADMIN</option>
		</select><br>
		<br>

		<button type="submit">Sign Up</button>
	</form>
	<p>
		Already have an account? <a href="login.html">Login here</a>
	</p>
</body>
</html>
